/vendor
/node_modules
/public/storage
/storage/*.key
/storage/logs
/storage/app/public
/storage/framework/cache
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/.env
/.env.example
/.idea
/.vscode
/.phpunit.result.cache
/.cache
*.log
*.lock
*.tmp
